html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.container {
    width: 100%;
    padding: 0 var(--basePadding);
}

.pageLayout {
    background: url("../img/bg.png") no-repeat top center;
    background-size: contain;
    scroll-padding-top: 6rem;

    &.isOpenMenu {
        overflow: hidden;
    }

    &.isModalOpen {
        overflow: hidden;
    }
}

.section {
    --sectionMb: var(--basePadding);
    scroll-margin-top: 6rem;

    @media (max-width: 768px) {
        --sectionMb: 3rem;
    }

    @media (max-width: 320px) {
        --sectionMb: 4rem;
    }

    &:not(:last-child) {
        margin-bottom: var(--sectionMb);
    }

    &.section--isNotMb {
        --sectionMb: 0;
    }
}

.main {
    padding-bottom: 10.3125rem;
}

.link {
    color: var(--colorBlack);
    transition: var(--baseTransition) all;
    position: relative;

    &:hover {
        color: var(--colorShamrock);

        &:after {
            opacity: 1;
            bottom: -0.25rem;
        }
    }

    &:after {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        width: 100%;
        bottom: -0.75rem;
        opacity: 0;
        height: 1px;
        background: currentColor;
        transition: .3s;
    }
}

h1 {
    /* Максимальный размер + разница * (вьюпорт - минимальная ширина) / разница между контейнерами (макс и мин)  */
    font-family: Montserrat, Roboto, serif;
    font-size: calc(2.5rem + 74 * (100vw - 320px) / 1300);
    font-weight: 700;
    line-height: calc(3rem + 84 * (100vw - 320px) / 1300);

    @media (min-width: 1920px) {
        font-size: 7.5rem;
        line-height: 8rem;
    }
}

h2 {
    /* Максимальный размер + разница * (вьюпорт - минимальная ширина) / разница между контейнерами (макс и мин)  */
    font-family: Montserrat, Roboto, serif;
    font-size: calc(2rem + 18 * (100vw - 320px) / 1300);
    font-weight: 700;
    line-height: calc(2.5rem + 20 * (100vw - 320px) / 1300);

    @media (min-width: 1920px) {
        font-size: 5rem;
        line-height: 6rem;
    }

}

.isTextCenter {
    text-align: center;
}

.isTextUppercase {
    text-transform: uppercase;
}

.isColorDoveGray {
    color: var(--colorDoveGray);
}

.isColorLochmara {
    color: var(--colorLochmara);
}

.isMb12 {
    margin-bottom: 0.75rem;
}

.isMb24 {
    margin-bottom: 1.5rem;
}

.isMb28 {
    margin-bottom: 1.75rem;
}

.isMb32 {
    margin-bottom: 2rem;
}

.isMb44 {
    margin-bottom: 2.75rem;

    @media (max-width: 768px) {
        margin-bottom: 2rem;
    }
}

.isMb48 {
    margin-bottom: 3rem;

    @media (max-width: 768px) {
        margin-bottom: 2rem;
    }
}

.isMb50 {
    margin-bottom: 3.125rem;

    @media (max-width: 768px) {
        margin-bottom: 2rem;
    }
}

.btn {
    color: var(--colorWhite);
    padding: 0.5rem 1.25rem;
    border-radius: 2rem;
    transition: var(--baseTransition) all;
    position: relative;

    &::before,
    &::after {
        height: 100%;
        position: absolute;
        top: 0;
        transition: all 0.3s;
        content: "";
    }

    &::before {
        width: 100%;
        left: 0;
        border-radius: 2rem;
        background-color: var(--colorShamrock);
        z-index: -1;
    }

    &::after {
        width: 0;
        left: 50%;
        border: 1px solid transparent;
        transform: translate(-50%, 0);
        z-index: 1;
        border-radius: 2rem;
    }

    &:hover {
        color: var(--colorShamrock);

        &::before {
            transform: scale(0, 1);
        }

        &::after {
            width: 100%;
            border-color: var(--colorShamrock);
            transition-delay: 0.2s;
        }
    }

    .btn__icon {
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 700;
    }

    &.btn--isNotRadius {
        border-radius: 0;

        &::before, &::after  {
            border-radius: 0;
        }
    }

    &.btn--isPdS {
        padding: 1rem 1.25rem;
    }

    &.btn--isPdXS {
        padding: 0.75rem 1.25rem;
    }

    &.btn--isLight {
        border-radius: 0.75rem;
        color: var(--colorShamrock);
        background: var(--colorWhite);
        padding: 1rem 1.25rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            color: var(--colorWhite);
            background: var(--colorShamrock);
        }

        .btn__icon {
            font-size: 2rem;
        }
    }
}

.input {
    width: 100%;
    height: 100%;
    padding: 0.875rem 3rem;
    box-shadow: 0px 4px 20px 0px #0000001F;
    color: var(--colorBlack);
    transition: var(--baseTransition) all;

    @media (max-width: 768px) {
        padding: 0.875rem 1rem;
    }

    &::placeholder {
        color: var(--colorDoveGray);
    }

    &:hover, &:focus {
        box-shadow: 0px 4px 20px 0px #0000003F;
    }

    /*&:invalid {
        box-shadow: 0px 4px 20px 0px #FF7F7F;
    }

    &:valid {
        box-shadow: 0px 4px 20px 0px #0000001F;
    }*/
}

.formMsg {
    transition: var(--baseTransition) all;
    visibility: hidden;
    opacity: 0;
    height: 0;

    &.isActive {
        visibility: visible;
        opacity: 1;
        height: 100%;
    }
}

.form {
    position: relative;

    .formMsg {
        max-width: 68.125rem;
        margin: 0 auto;
        padding: 1rem;
        color: var(--colorPomegranate);

        @media (max-width: 480px) {
            position: absolute;
            top: 3.5rem;
        }
    }

    .formWrapper {
        max-width: 68.125rem;
        width: 100%;
        margin: 0 auto;
        display: flex;

        @media (max-width: 480px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 2.75rem;
        }

        .input {
            max-width: 54.375rem;
            min-height: 5.5rem;

            @media (max-width: 768px) {
                min-height: 4rem;
            }
        }

        .btn {
            max-width: 13.75rem;
            width: 100%;
            min-height: 5.5rem;
            font-size: calc(1.5rem + 10 * (100vw - 320px) / 1300);
            font-weight: 700;

            @media (min-width: 1920px) {
                font-size: 2rem;
            }

            @media (max-width: 768px) {
                max-width: 10rem;
                min-height: 4rem;
            }

            @media (max-width: 480px) {
                max-width: 8rem;
                min-height: 3.5rem;
            }
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: sticky;
    top: 0;
    z-index: 2;

    &.isScrolling {
        backdrop-filter: blur(0.75rem);
    }

    .header__logo, .header__lk {
        z-index: 10;
    }

    .header__navList {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
    }

    .header__burger {
        display: none;
        flex-direction: column;
        gap: 0.3rem;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1000;
        margin-left: auto;

        span {
            width: 24px;
            height: 2px;
            background-color: #333;
            transition: transform 0.3s, opacity 0.3s;
        }
    }

    .header__burger.active span:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .header__burger.active span:nth-child(2) {
        opacity: 0;
    }

    .header__burger.active span:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .header__nav {
        transition: transform 0.3s ease-in-out;

        &.open {
            transform: translateX(0);
        }
    }

    @media (max-width: 768px) {
        .header__nav {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: var(--colorWhite);
            padding: 6rem 2rem 2rem;
            width: 100vw;
            height: 100vh;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transform: translateX(100%);
            z-index: 3;
        }

        .header__burger {
            display: flex;
        }

        .header__navList {
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
        }
    }
}

.hero {
    --heroMaxHeight: 36rem;
    max-height: var(--heroMaxHeight);
    height: var(--heroMaxHeight);
    display: flex;

    @media (max-width: 768px) {
        --heroMaxHeight: 20rem;
    }

    .hero__rightContent {
        height: max-content;
        width: max-content;
        margin: auto 0 auto auto;
    }
}

.skills {
    .skills__list {
        --skillsListGap: 2rem;
        display: flex;
        justify-content: space-between;
        gap: var(--skillsListGap);
        max-width: 100rem;
        margin: 0 auto;

        @media (max-width: 1280px) {
            --skillsListGap: 1rem;
            flex-wrap: wrap;
            justify-content: center;
        }

        @media (max-width: 768px) {
            --skillsListGap: 1.5rem;
        }
    }

    .skillsCard {
        --skillsCardMaxWidth: 26.25rem;
        --skillsCardPadding: 2rem 1rem;
        --skillsCardBr: 2rem;
        --skillsCardIconPb: 2.9rem;
        --skillsCardTitlePb: 1.25rem;
        --skillsCardDescPb: 2rem;
        max-width: var(--skillsCardMaxWidth);
        width: 100%;
        padding: var(--skillsCardPadding);
        box-shadow: 0px 4px 10px 0px #00000014;
        border-radius: var(--skillsCardBr);

        .skillsCard__icon {
            padding-bottom: var(--skillsCardIconPb);
        }

        .skillsCard__title {
            font-size: calc(1.25rem + 4 * (100vw - 320px) / 1300);
            font-weight: 500;
            padding-bottom: var(--skillsCardTitlePb);

            @media (min-width: 1920px) {
                font-size: 2rem;
            }
        }

        .skillsCard__desc {
            font-size: 1rem;
            color: var(--colorDoveGray);
            padding-bottom: var(--skillsCardDescPb);
        }

        .skillsCard__title, .skillsCard__desc {
            text-align: center;
        }
    }
}

.works {
    .worksList {
        --worksListMaxWd: 82.5rem;
        max-width: var(--worksListMaxWd);
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;

        .worksList__item {
            width: 100%;
        }
    }
}

.experience {
    --experienceBlockLeftMaxWd: 34.25rem;
    --experienceBlockRightMaxWd: 26.5rem;
    --experienceGap: 4rem;
    display: flex;
    justify-content: center;
    gap: var(--experienceGap);

    @media (max-width: 1024px) {
        flex-wrap: wrap;
    }

    @media (max-width: 768px) {
        --experienceGap: 1.5rem;
    }

    .experienceBlockLeft {
        max-width: var(--experienceBlockLeftMaxWd);
        width: 100%;
        box-shadow: 0px 4px 20px 0px #00000014;
        border-radius: 50px;
        padding: 2rem;
    }

    .experienceBlockRight {
        max-width: var(--experienceBlockRightMaxWd);
        width: 100%;
        height: max-content;
        margin: auto 0;
    }

    .experienceList {
        --experienceListMarkerSize: 1.5rem;
        --experienceListGap: 3rem;
        display: flex;
        flex-direction: column;
        gap: var(--experienceListGap);

        @media (max-width: 768px) {
            --experienceListMarkerSize: 1rem;
            --experienceListGap: 1.5rem;
        }

        .experienceList__item {
            margin-left: calc(var(--experienceListMarkerSize) + 0.5rem);
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                max-width: var(--experienceListMarkerSize);
                height: var(--experienceListMarkerSize);
                width: 100%;
                border-radius: 100%;
                background: var(--colorShamrock);
                margin-left: calc(var(--experienceListMarkerSize) * -1 - 0.5rem);
            }

            .experienceList__itemTitle {
                font-size: calc(1.25rem + 12 * (100vw - 320px) / 1300);
                margin-bottom: 1rem;

                @media (min-width: 1920px) {
                    font-size: 2rem;
                }
            }
        }
    }
}

.footer {
    --footerInfoMaxWd: 16.25rem;
    --footerConnectMaxWd: 13.5rem;
    --footerGap: 7.5rem;
    --footerLinksTitleMb: 3.5rem;
    --footerLinksItemMb: 1rem;
    width: 100%;
    padding: 6.25rem var(--basePadding) 5.625rem;
    background: var(--colorCodGray);
    color: var(--colorWhite);
    display: flex;
    justify-content: space-between;
    gap: var(--footerGap);

    @media (max-width: 1480px) {
        flex-wrap: wrap;
        --footerGap: 4rem;
    }

    @media (max-width: 768px) {
        --footerGap: 2rem;
    }

    .footer__logo {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 4.5rem;
    }

    .footer__info {
        max-width: var(--footerInfoMaxWd);
        width: 100%;
    }

    .footer__connect {
        max-width: var(--footerConnectMaxWd);
        width: 100%;
    }

    .footerLinks {

        .footerLinks__item {
            margin-bottom: var(--footerLinksItemMb);

            a {
                color: var(--colorWhite);
                transition: var(--baseTransition) all;
                margin-bottom: var(--footerLinksItemMb);

                &:hover {
                    color: var(--colorShamrock);
                }
            }
        }
    }

    .footerLinks__title {
        font-size: calc(1.25rem + 4 * (100vw - 320px) / 1300);
        font-weight: 700;
        margin-bottom: var(--footerLinksTitleMb);

        @media (min-width: 1920px) {
            font-size: 2rem;
        }
    }

    .footer__contacts {
        img {
            max-width: 1.5rem;
        }
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100dvw;
    height: 100dvh;
    background: var(--colorShamrockA20);
    transition: var(--baseTransition) all;
    z-index: 15;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    &.isModalOpen {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }
}

.modal {
    max-width: 30rem;
    max-height: 20rem;
    width: 100%;
    height: 100%;
    margin: auto;
    background: var(--colorWhite);
    padding: 2rem;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 768px) {
        max-width: 100dvw;
        max-height: 100dvh;
    }

    .closeModalBtn {
        position: absolute;
        font-size: 3rem;
        top: -1.5rem;
        right: 0;
        transition: var(--baseTransition) all;
        cursor: pointer;

        &:hover {
            color: var(--colorShamrock);
        }
    }

    .modal__header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 2rem;

        h3 {
            font-size: calc(2rem + 8 * (100vw - 320px) / 1300);
            font-weight: 700;
            @media (min-width: 1920px) {
                font-size: 3rem;
            }
        }
    }
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.75rem;
    height: max-content;

    @media (min-width: 769px) {
        transform: translateY(20%);
    }

    input {
        padding: 1rem;
    }

    .btn {
        padding: 0.75rem 2rem;
    }

    .formMsg {
        color: var(--colorPomegranate);
    }
}
