body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.container {
    width: 100%;
    padding: 0 var(--basePadding);
}

.pageLayout {
    background: url("../img/bg.png") no-repeat top center;
    background-size: cover;
}

.section {
    --sectionMb: var(--basePadding);

    &:not(:last-child) {
        margin-bottom: var(--basePadding);
    }
}

.main {
    padding-bottom: 10.3125rem;
}

.link {
    color: var(--colorBlack);
    transition: var(--baseTransition) all;

    &:hover {
        color: var(--colorShamrock);
    }
}

h1 {
    /* Максимальный размер + разница * (вьюпорт - минимальная ширина) / разница между контейнерами (макс и мин)  */
    font-family: Montserrat, Roboto, serif;
    font-size: calc(6rem + 18 * (100vw - 320px) / 1300);
    font-weight: 700;
    line-height: calc(3.5rem + 20 * (100vw - 320px) / 1300);
}

h2 {
    /* Максимальный размер + разница * (вьюпорт - минимальная ширина) / разница между контейнерами (макс и мин)  */
    font-family: Montserrat, Roboto, serif;
    font-size: calc(2rem + 18 * (100vw - 320px) / 1300);
    font-weight: 700;
    line-height: calc(2.5rem + 20 * (100vw - 320px) / 1300);

}

.isTextCenter {
    text-align: center;
}

.isTextUppercase {
    text-transform: uppercase;
}

.isColorDoveGray {
    color: var(--colorDoveGray);
}

.isColorLochmara {
    color: var(--colorLochmara);
}

.isMb12 {
    margin-bottom: 1.5rem;
}

.isMb28 {
    margin-bottom: 1.75rem;
}

.isMb50 {
    margin-bottom: 3.125rem;
}

.btn {
    color: var(--colorWhite);
    background-color: var(--colorShamrock);
    padding: 0.5rem 1.25rem;
    border-radius: 2rem;
    transition: var(--baseTransition) all;

    &:hover {
        background-color: var(--colorShamrockAlpha20);
        color: var(--colorShamrock);
    }

    &.btn--isNotRadius {
        border-radius: 0;
    }
}

.input {
    width: 100%;
    height: 100%;
    padding: 0.875rem 3rem;
    box-shadow: 0px 4px 20px 0px #0000001F;
    color: var(--colorBlack);
    transition: var(--baseTransition) all;

    &::placeholder {
        color: var(--colorDoveGray);
    }

    &:hover, &:focus {
        box-shadow: 0px 4px 20px 0px #0000003F;
    }
}

.form {
    .formWrapper {
        max-width: 68.125rem;
        width: 100%;
        margin: 0 auto;
        display: flex;

        .input {
            max-width: 54.375rem;
            min-height: 5.5rem;
        }

        .btn {
            max-width: 13.75rem;
            width: 100%;
            min-height: 5.5rem;
            font-size: calc(1.5rem + 10 * (100vw - 320px) / 1300);
            font-weight: 700;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .header__navList {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
    }
}

.footer {
    width: 100%;
    padding: 6.25rem var(--basePadding) 5.625rem;
    background: var(--colorCodGray);
}