:root {
    --colorBlack: #000000;
    --colorWhite: #ffffff;
    --colorShamrock: #3ECF8E;
    --colorShamrockAlpha20: #3ECF8E33;

    --baseFontSize: 2rem;
    --basePadding: 9.375rem;
    --baseTransition: 0.3s;

    /* mediaQueries */
    --mobileMinimum: 320px;
    --mobile: 768px;
    --tabletMedium: 1024px;
    --tablet: 1280px;
    --desktop: 1920px;
    --desktopAbove: 1920px;

    @media (max-width: 1280px) {
        --basePadding: 7.5rem;
    }

    @media (max-width: 1024px) {
        --basePadding: 5rem;
    }

    @media (max-width: 768px) {
        --basePadding: 3.5rem;
    }

    @media (max-width: 320px) {
        --basePadding: 2rem;
    }
}